<%= stylesheet_link_tag 'signin' %>

<main class="form-signin">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <%= link_to "StayActive", root_path, class:'h1 stay-active-home' %>

      <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

      <div class="form-floating">
        <%= f.email_field :email, class: 'form-control', placeholder: 'name@example.com', id: 'floatingInput' %>
        <%= f.label :email, for: 'floatingInput' %>
      </div>

      <div class="form-floating">
        <%= f.password_field :password, class: 'form-control', placeholder: 'Password', id: 'floatingPassword' %>
        <%= f.label :password, for: 'floatingPassword' %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="checkbox mb-3">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end %>

      <div class="actions">
        <%= f.submit "Sign in", class: 'w-100 btn btn-lg btn-primary' %>
      </div>

      <p class="mt-5 mb-3 text-muted">&copy; <%= Time.now.year %></p>
  <% end %>
</main>

<%= render "devise/shared/links" %>
